@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&family=Squada+One&display=swap');
/**** header css ****/
body {
    font-size: 14px;
    color: #3c3c3b;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    margin: 0;
    padding: 0;
}



a, button {
    transition: all 0.3s;
}

    a:hover, button:hover {
        text-decoration: none;
        transition: all 0.3s;
    }

    :focus, button:focus {
        outline: none;
    }

ul, ol {
    margin: 0px;
    padding: 0px;
}

h4 {
    font-size: 26px;
    margin: 0px 0px 18px;
    padding: 0px;
    font-weight: bold;
}


@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.eot);
    src: url(../fonts/roboto-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-regular.woff2) format("woff2"), url(../fonts/roboto-regular.woff) format("woff"), url(../fonts/roboto-regular.ttf) format("truetype"), url(../fonts/roboto-regular.svg#wf) format("svg");
}

@font-face {
    font-family: conthrax-sb;
    src: url(../fonts/conthrax-sb.eot);
    src: url(../fonts/conthrax-sb.eot?#iefix) format("embedded-opentype"), url(../fonts/conthrax-sb.woff2) format("woff2"), url(../fonts/conthrax-sb.woff) format("woff"), url(../fonts/conthrax-sb.ttf) format("truetype"), url(../fonts/conthrax-sb.svg#wf) format("svg");
}


.logo {
    font-size: 30px;
    font-family: conthrax-sb, Arial, Helvetica, sans-serif;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
    display: inline-block;
    padding: 15px 0px 12px;
    padding-left: 4rem !important
}

.login_se {
    text-align: center;
    padding: 10px 0px;
}

    .login_se .Copyright {
        color: #fff;
        text-align: center;
        padding: 10px;
        margin-top: 100px;
    }

.loginb {
    max-width: 300px;
    width: 100%;
    margin: 30px auto;
}

.lo_b {
    margin-bottom: 15px;
}

    .lo_b label {
        display: block;
        font-size: 13px;
        color: #fff;
        text-align: left;
        padding: 0px;
        margin: 0px 0px 3px;
        font-family: conthrax-sb;
        text-transform: uppercase;
    }

    .lo_b input {
        background: #fff;
        border-radius: 3px;
        padding: 10px;
        border: none;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

.imglogo {
    padding-top: 30px;
}

.sectionb {
    padding: 15px 0px;
}

.logoin {
    float: right;
}

.map {
    margin-bottom: 15px;
}

.rightbox {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    .rightbox li, .content_b, .button_r a, .rightbox_2 li a, .nambox, .chatb button {
        background: #010163;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 15px;
    }

.btm {
    margin-bottom: 25px !important;
}

.indatabsce {
}

.content_b {
    max-height: 300px;
    overflow: auto;
    padding: 20px 15px;
    font-size: 14px;
}

.button_r a {
    display: inline-block;
    width: 30%;
    margin-right: 14px;
    text-align: center;
    color: #fff;
}

    .button_r a:last-child {
        margin: 0px;
        float: right;
    }

    .button_r a:hover {
        opacity: 0.7;
    }

.database h3 {
    font-size: 26px;
    padding-top: 30px;
    font-family: conthrax-sb;
}

.database span {
    display: block;
    font-size: 20px;
}

.profile_p {
    border: solid 2px #ffffff;
}

    .profile_p img {
        width: 100%;
    }

.subject_b {
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: solid 2px #ffffff;
    border-top: none;
    font-size: 16px;
}

.rightbox_2 {
    list-style: none;
}

    .rightbox_2 li a {
        color: #ffffff;
        display: block;
        margin-bottom: 7px;
    }

        .rightbox_2 li a:hover {
            opacity: 0.7;
        }

.profile_d {
    border: solid 2px #ffffff;
    padding: 10px;
    font-size: 13px;
}

.classi {
    display: block;
    color: #fe0000;
    padding: 00px 0px 10px;
    text-align: center;
    font-size: 22px;
    font-family: conthrax-sb;
}

.profile_d .subjectn {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.thumb {
    border: solid 2px #ffffff;
    border-top: none;
}

    .thumb .col-5 {
        padding-right: 0px;
    }

    .thumb .col-7 {
        padding-left: 0px;
    }

    .thumb span {
        display: block;
        padding: 6px;
        text-align: center;
        border-bottom: solid 2px #ffffff;
    }

.contentbox {
    border-left: solid 2px #ffffff;
    padding: 10px;
}

.nambox {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
}

.namboxn {
    border: solid 2px #ffffff;
    padding: 10px;
    font-family: conthrax-sb;
    font-size: 20px;
    margin-bottom: 30px;
}

.chatbx {
    border: solid 2px #ffffff;
    padding: 10px;
    min-height: 210px;
}

.chatb {
    position: relative;
}

    .chatb input {
        border: solid 2px #ffffff;
        width: 100%;
        padding: 5px;
        color: #ffffff;
        background: none;
        border-top: none;
    }

    .chatb button {
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 6px 10px;
        margin-bottom: 0px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        border-left: solid 2px #ffffff;
    }

.pdr0 {
    padding-right: 0px;
}

.pdl0 {
    padding-left: 0px
}

.topdate {
    margin-bottom: 20px;
}

    .topdate .rightbox li {
        float: left;
        margin-right: 10px;
        min-width: 175.5px;
        font-size: 12px;
        text-align: center;
        font-family: conthrax-sb;
    }

        .topdate .rightbox li a {
            color: #ffffff;
            display: block;
        }

        .topdate .rightbox li:hover a {
            opacity: 0.7;
        }

        .topdate .rightbox li:last-child {
            margin-right: 0px;
        }

    .topdate .rightbox.atag li {
        padding: 0px;
    }

        .topdate .rightbox.atag li a {
            padding: 10px;
        }

.pro_bg_box {
    background: url(../images/bgupwork1.png) no-repeat;
    background-size: 100%;
    min-height: 527px;
    padding: 34px 40px;
    margin-bottom: 20px;
}

    .pro_bg_box h4 {
        text-align: center;
        font-size: 16px;
        font-family: conthrax-sb;
    }

.imgboxp {
    text-align: center;
    text-align: left;
}

    .imgboxp .imgbpr {
        margin: 30px 0px;
        border: solid 3px #ffffff;
    }

.contentbn {
}

    .contentbn span {
        color: #fe0000;
        font-family: conthrax-sb;
        font-size: 16px;
    }

    .contentbn small {
        display: block;
        padding-top: 40px;
        font-size: 16px;
        font-weight: bold;
        font-family: conthrax-sb;
    }

    .contentbn a {
        color: #fe0000;
    }

.imgboxp ul {
    margin: 20px 50px;
    min-height: 223px;
}

.datepr {
    text-align: right;
    padding: 10px 0px 0px;
}

.datatable .comcl {
    text-align: center;
    font-size: 14px;
    background: #010163;
    padding: 9px;
    box-sizing: border-box;
}

.sub_date .dateleft {
    float: left;
    width: 29.8%;
}

.sub_date .dateright {
    float: right;
    width: 70%;
}

.insit_con .sub_date .dateleft {
    width: 30%;
}

.insit_con {
    max-height: 495px;
    overflow: auto;
}

    .insit_con .sub_date .comcl {
        background: none;
        text-align: left;
        font-size: 12px;
    }

    .insit_con .sub_date.active {
        border: solid 1px #7474e6;
    }

    .insit_con .sub_date {
        background: #080844;
    }

        .insit_con .sub_date a {
            font-size: 14px;
            color: #ffffff;
        }

        .insit_con .sub_date p {
            margin: 0px;
            padding: 0px;
            color: #a9a9a9;


        }

        .insit_con .sub_date:nth-child(odd) {
            background: #262677;
        }

.editbox {
    background: #080844;
    padding: 15px;
    max-height: 200px;
    overflow: auto;
    border: solid 1px #7474e6;
}

    .editbox p {
        font-size: 12px;
        color: #d0d0d0;
        line-height: 22px;
    }

.indatabsce2 h5 {
    text-align: left;
    font-size: 16px;
    font-family: conthrax-sb;
    padding: 20px 0px 0px;
    margin: 0px;
}

.spisystme {
    font-size: 12px;
}

.imgbs {
    margin-top: 30px;
    position: relative;
    height: 500px;
    width: 500px;
}

.imgbox {
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 0px;
}

.imgbox0 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 0px;
}

.imgbox1, .imgbox2, .imgbox3, .imgbox4, .imgbox5, .imgbox6, .imgbox7, .imgbox8, .imgbox9, .imgbs .exit {
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s;
}

.imgbs .imgbox1 {
    top: 263px;
    left: 49px;
}

.imgbs .imgbox2 {
    top: 239px;
    left: 45px;
}

.imgbs .imgbox3 {
    top: 208px;
    left: 42px;
}

.imgbs .imgbox4 {
    top: 179px;
    left: 36px;
}

.imgbs .imgbox5 {
    top: 149px;
    left: 32px;
}

.imgbs .imgbox6 {
    top: 119px;
    left: 28px;
}

.imgbs .imgbox7 {
    top: 85px;
    left: 23px;
}

.imgbs .imgbox8 {
    top: 51px;
    left: 19px;
}

.imgbs .exit {
    top: 303px;
    left: 57px;
}

    .imgbs.floor1 .imgbox1,
    .imgbs.floor2 .imgbox2,
    .imgbs.floor3 .imgbox3,
    .imgbs.floor4 .imgbox4,
    .imgbs.floor5 .imgbox5,
    .imgbs.floor6 .imgbox6,
    .imgbs.floor7 .imgbox7,
    .imgbs.floor8 .imgbox8,
    .imgbs.floor9 .imgbox9,
    .imgbs.exit .exit {
        opacity: 1;
        transition: all 0.3s;
    }

.buildingd {
    list-style: none;
    margin: 40px;
}

    .buildingd li {
        position: relative;
        padding: 10px 10px 10px 33px;
        font-size: 14px;
        font-family: conthrax-sb;
    }

        .buildingd li a {
            color: #ffffff;
        }

            .buildingd li a:hover, .buildingd li.active a {
                color: #1212d0;
            }

        .buildingd li i {
            position: absolute;
            left: 0px;
        }

.insit_conb {
    max-width: 700px;
    width: 100%;
}

.insit_conb {
    background: #000;
    padding: 10px;
}

    .insit_conb:nth-child(odd) {
        background: #252525;
    }

    .insit_conb a {
        float: right;
        color: #fe0000;
        border: solid 1px #ffffff;
        font-family: conthrax-sb;
        padding: 5px 10px;
        min-width: 177px;
        text-align: center;
    }

    .insit_conb .contenbs {
        float: left;
        font-size: 16px;
        font-family: conthrax-sb;
        padding-top: 5px;
    }

.mrbt {
    margin-bottom: 50px;
}

.insit_conb a.granted {
    color: green;
}

.Proceed {
    float: right;
    background: #0f8baa;
    padding: 10px;
    margin: 70px 30px;
    color: #ffffff;
}

    .Proceed:hover {
        color: #000;
    }

.table {
    margin-top: 50px;
}

    .table table tr th, .table table tr td {
        border: none;
        vertical-align: middle;
    }

    .table table tr th {
        background: #010163;
        border-left: solid 2px #000;
        text-align: center;
    }

    .table table tr:nth-child(odd) {
        background: #1f1f1f;
    }

    .table table {
        width: 100%;
    }

.Copyright {
    text-align: center;
}

.borderb.table table tr td:first-child {
    border-right: solid 2px #4a4a4a;
}

.borderb.table table tr td:nth-child(2) {
    padding-left: 50px;
}

@media only screen and (max-width: 768px) {
}
